      <ul class="list-group">

        <%= paginate @talk_groups %>

          <% 
            @talk_groups.each do |g|
              first_t = show_first(g.topics)
          %>
          <li class="list-group-item">
              <div class="row">
                <% unless first_t.nil? %>
                <h4><a href="/topics/<%= first_t.talk_group.id %>"><%= first_t.title %></a></h4>
                <% end %>
                <P>
                  <ul>
                    <% 
                      g.topics.each do |f| 
                        next if f.title.blank?
                    %>
                    <li>
                      <a href="/topics/search?tid=<%= f.id %>"><%= f.title_tag %></a>
                      <%= f.title %>
                    </li>
                    <% end %>
                  </ul>
                  
                </p>

                <p class="time">
                  <a href="/users/<%= g.user.username %>"><%= g.user.username %></a>
                  发表于 <%= time_ago_in_words(g.created_at) %>前</p>

                <hr />
              </div>
          </li>
          <% end %>
      </ul>