

 

  <div class="panel-body">

      <!-- List group -->

      <ul class="list-group">

        <%= paginate @topics %>

          <% @topics.each do |topic| %>
          <li class="list-group-item">
              <div class="row">
                <h4><a href="/topics/<%= topic.id %>"><%= topic.title1 %></a></h4>
                <P>
                  <ul>
                    <li>
                      <%= topic.title1_tag %><%= topic.title1 %>
                    </li>
                    <li>
                      <%= topic.title2_tag %><%= topic.title2 %>
                    </li>
                    <% topic.topic_fields.each do |f| %>
                    <li>
                      <%= f.title_tag %><%= f.title %>
                    </li>
                    <% end %>
                  </ul>
                  
                </p>

                <p class="time"><%= time_ago_in_words(topic.created_at) %>前</p>

                <hr />
              </div>
          </li>
          <% end %>
      </ul>


  </div>


  

