

 

  <div class="panel-body">

      <!-- List group -->

      <ul class="list-group">

        <%= paginate @talk_groups %>

          <% @talk_groups.each do |g| %>
          <li class="list-group-item">
              <div class="row">
                <h4><a href="/topics/<%= g.id %>"><%= g.topics.first.title %></a></h4>
                <P>
                  <ul>
                    <% 
                      g.topics.each do |f| 
                        next if f.title.blank?
                    %>
                    <li>
                      <%= f.title_tag %><%= f.title %>
                    </li>
                    <% end %>
                  </ul>
                  
                </p>

                <p class="time"><%= time_ago_in_words(g.created_at) %>前</p>

                <hr />
              </div>
          </li>
          <% end %>
      </ul>


  </div>


  

