<div class="panel-body">

      <!-- List group -->

      <h4>标记为 [<%= @topic.title_tag %>] 数据如下</h4>

      <ul>

          <% @topic_by_tags.each do |t| %>
          <li>
              <h4>
                <a href="/topics/<%= t.talk_group.id %>"><%= t.talk_group.topics.first.title %></a> 
                <span class="author">by <%= t.talk_group.user.username %></span>
              </h4>

              <p><%= t.title %></p>
          </li>
          <% end %>
      </ul>


  </div>

  

